@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #13ec13;
  --bgdark: #102210;
  --bgdarker: #0b1b0b;
  --carddark: #1a2e1a;
}

html, body { height: 100%; }
body {
  margin: 0;
  background: var(--bgdarker);
  color: white;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}
